body {
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
}

#container {
    display: grid;
    width: 99vw;
    grid-template-areas: 
    "header header header"
    ". home ."
    ". logo ."
    ". product ."
    ". video ."
    "features features features"
    ". form .";
    grid-row-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
}

@media only screen and (max-width: 1040px) {
    #productfeatures {
     width: 250px;
  }
  }

#home {
    grid-area: home;
    text-align: center;
}

#imgwrapper {
    grid-area: logo;
    text-align: center;
}

#productfeatures {
    grid-area: product;
    line-height: 20px;
    text-align: center;
    justify-content: center;
}


#productwrapper {
    margin-top: 50px;
    grid-area: features;
    display: grid;
    grid-template-areas: 
    "features1 features2 features3";
    justify-items: center;
}

@media only screen and (max-width: 1040px) {
    #productwrapper {
      grid-template-areas:
      "features1"
      "features2"
      "features3";
      grid-row-gap: 40px;
  }
  }

#product1 {
    grid-area: features1;
    background-color: #cd7f32;
    line-height: 20px;
    border: 1px solid black;
    width: 250px;
    height: 250px;
    text-align: center;
}

#product2 {
    grid-area: features2;
    background-color: silver;
    line-height: 20px;
    border: 1px solid black;
    width: 250px;
    height: 250px;
    text-align: center;
}

#product3 {
    grid-area: features3;
    background-color: gold;
    line-height: 20px;
    border: 1px solid black;
    width: 250px;
    height: 250px;
    text-align: center;
}

#video {
    grid-area: video;
    text-align: center;
}

@media only screen and (max-width: 1040px) {
    iframe {
    width: 250px;
  }
  }

#formwrapper {
    grid-area: form;
}

#survey-form {
    display: grid;
    font-weight: bold;
    grid-row-gap: 5px;
    width: 600px;
}

#status {
    margin-top: 12px;
}

@media only screen and (max-width: 1040px) {
    #survey-form {
     width: 250px;
  }
  }

#buttonwrapper {
    margin: auto;
}

#header-img {
    max-height: 250px;
}

#nav-bar {
    background-color: #a00028;
    height: 50px;
    position: fixed;
    overflow: hidden;
    width: 100vw;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.AI {
    font-weight: normal;
}

#checkboxes {
    margin-top: 12px;
}

#checkboxeslist {
    text-align: left;
    margin-top: 10px;
    font-weight: normal;
}

li {
    margin-bottom: 10px;
}

p {
    text-align: center;
}


#nachricht {
    margin-top: 5px;
}

#custommessage {
    height: 100px;
}

.nav-link {
    color: #f2f2f2;
    float: left;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.active, .nav-link:hover {
    text-decoration: underline;
}

input[type=submit] {
    border: 1px solid black; 
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 50px;
    height: 50px;
    width: 100px;
}

.mehrbutton {
    margin-top: 15px;
}


input[type=submit]:hover {
    color: white;
    background-color: #a00028;
}

:target { 
    scroll-margin-top: 10vh; 
}




